<div class="jumbotron">
    <h1>PDF API</h1>
    <p class="lead">Framatech Layouts PDF Api es una herramienta que te permite obtener cualquier formato en PDF desde SAP Business One.</p>
    <p>@Html.ActionLink("Documentación API", "Index", "Help", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Soporte</h2>
        <p>Ponte en contacto para obtener soporte sobre el API.</p>
        <p><a class="btn btn-default" href="mailto:zamarrong@gmail.com?Subject=Soporte%20Framatech">Obtener soporte &raquo;</a></p>
    </div>
</div>
